.editing {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  padding: .75rem;
  margin-bottom: 1rem;
  width: 90vw
}

.view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: .75rem;
  margin-bottom: 1rem;
  width: 90vw;
  span {
    border: 1px solid black;
    padding: 5px
  }
}

.view-none {
  display: none;
}

.editing-none {
  display: none;
}